.inhalt {
    margin-top: 60px;
    background-color: #B9D40B;
    padding: 1em;
}

.profilbild_image {
    border-radius: 1000px;
    margin-bottom: 10px;
}

.projekt {
    background-color: #B9D40B;
    border: solid 1px;
    border-color: #70AF1A;
    border-radius: 5px;
    padding: 1em;
}

body {
    background-color: #075807;
}

.logo {
    margin-top: 60px;
}

.row {
    padding: 1em;
}

.follow {
    text-align: center;
    font-family: fantasy;
}

.profilbild {
    text-align: center;
    font-family: fantasy;
    background-color: #70AF1A;
    border-style: dashed;
    border-radius: 1em;
}

.uebertext {
    text-align: left;
    font-family: fantasy;
}